In [108]:
import numpy as np
import pandas as pd
import  tensorflow as tf

In [109]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [110]:
df = df.dropna(axis=0)
df.isna().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [111]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,WNW,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [112]:
df.shape

(56420, 23)

In [113]:
import pandas as pd
df.Date = pd.to_datetime(df.Date,format='%Y-%m-%d',errors='coerce')
df['Date_month'] = df.Date.dt.month
df['Date_day'] = df.Date.dt.day

In [114]:
df.isna().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
Date_month       0
Date_day         0
dtype: int64

In [115]:
df.drop('Date',axis=1,inplace=True)
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Date_month,Date_day
6049,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No,1,1
6050,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No,1,2
6052,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No,1,4
6053,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No,1,5
6054,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,WNW,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No,1,6

In [122]:
df["RainToday"] = pd.get_dummies(df["RainToday"], drop_first = True)
df["RainTomorrow"] = pd.get_dummies(df["RainTomorrow"], drop_first = True)

In [119]:
categ_var = df.select_dtypes(include = ["object"]).columns
for feature in categ_var:
    print(feature, (df.groupby([feature])["RainTomorrow"].mean().sort_values(ascending = False)).index)
windgustdir = {'NNW':0, 'NW':1, 'WNW':2, 'N':3, 'W':4, 'WSW':5, 'NNE':6, 'S':7, 'SSW':8, 'SW':9, 'SSE':10,
       'NE':11, 'SE':12, 'ESE':13, 'ENE':14, 'E':15}
winddir9am = {'NNW':0, 'N':1, 'NW':2, 'NNE':3, 'WNW':4, 'W':5, 'WSW':6, 'SW':7, 'SSW':8, 'NE':9, 'S':10,
       'SSE':11, 'ENE':12, 'SE':13, 'ESE':14, 'E':15}
winddir3pm = {'NW':0, 'NNW':1, 'N':2, 'WNW':3, 'W':4, 'NNE':5, 'WSW':6, 'SSW':7, 'S':8, 'SW':9, 'SE':10,
       'NE':11, 'SSE':12, 'ENE':13, 'E':14, 'ESE':15}
df["WindGustDir"] = df["WindGustDir"].map(windgustdir)
df["WindDir9am"] = df["WindDir9am"].map(winddir9am)
df["WindDir3pm"] = df["WindDir3pm"].map(winddir3pm)
df["WindGustDir"] = df["WindGustDir"].fillna(df["WindGustDir"].value_counts().index[0])
df["WindDir9am"] = df["WindDir9am"].fillna(df["WindDir9am"].value_counts().index[0])
df["WindDir3pm"] = df["WindDir3pm"].fillna(df["WindDir3pm"].value_counts().index[0])

Location Index(['Portland', 'CoffsHarbour', 'Cairns', 'NorfolkIsland', 'MountGambier',
       'Williamtown', 'Darwin', 'Watsonia', 'SydneyAirport', 'Melbourne',
       'Sydney', 'Hobart', 'Brisbane', 'MelbourneAirport', 'Sale', 'Perth',
       'Canberra', 'Nuriootpa', 'PerthAirport', 'WaggaWagga', 'Townsville',
       'Moree', 'Cobar', 'Mildura', 'AliceSprings', 'Woomera'],
      dtype='object', name='Location')
WindGustDir Index(['WNW', 'NW', 'W', 'NNW', 'N', 'WSW', 'NNE', 'S', 'SSW', 'SSE', 'SW',
       'SE', 'NE', 'ESE', 'E', 'ENE'],
      dtype='object', name='WindGustDir')
WindDir9am Index(['N', 'NNW', 'NNE', 'W', 'NW', 'WNW', 'WSW', 'SW', 'NE', 'S', 'SSE',
       'SSW', 'ENE', 'SE', 'ESE', 'E'],
      dtype='object', name='WindDir9am')
WindDir3pm Index(['WNW', 'NW', 'N', 'NNW', 'W', 'NNE', 'WSW', 'SSE', 'SSW', 'S', 'SE',
       'NE', 'ESE', 'E', 'SW', 'ENE'],
      dtype='object', name='WindDir3pm')

In [127]:
mapped_location = {'Portland':1, 'Cairns':2, 'Walpole':3, 'Dartmoor':4, 'MountGambier':5,
       'NorfolkIsland':6, 'Albany':7, 'Witchcliffe':8, 'CoffsHarbour':9, 'Sydney':10,
       'Darwin':11, 'MountGinini':12, 'NorahHead':13, 'Ballarat':14, 'GoldCoast':15,
       'SydneyAirport':16, 'Hobart':17, 'Watsonia':18, 'Newcastle':19, 'Wollongong':20,
       'Brisbane':21, 'Williamtown':22, 'Launceston':23, 'Adelaide':24, 'MelbourneAirport':25,
       'Perth':26, 'Sale':27, 'Melbourne':28, 'Canberra':29, 'Albury':30, 'Penrith':31,
       'Nuriootpa':32, 'BadgerysCreek':33, 'Tuggeranong':34, 'PerthAirport':35, 'Bendigo':36,
       'Richmond':37, 'WaggaWagga':38, 'Townsville':39, 'PearceRAAF':40, 'SalmonGums':41,
       'Moree':42, 'Cobar':43, 'Mildura':44, 'Katherine':45, 'AliceSprings':46, 'Nhil':47,
       'Woomera':48, 'Uluru':49}
df["Location"] = df["Location"].map(mapped_location)

In [128]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Date_month,Date_day
6049,43,17.9,35.2,0.0,12.0,12.3,8,48.0,12,9,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0,1,1
6050,43,18.4,28.9,0.0,14.8,13.0,7,37.0,11,12,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0,1,2
6052,43,19.4,37.6,0.0,10.8,10.6,6,46.0,3,1,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0,1,4
6053,43,21.9,38.4,0.0,11.4,12.2,2,31.0,4,6,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0,1,5
6054,43,24.2,41.0,0.0,11.2,8.4,2,35.0,2,3,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0,1,6

In [125]:
df.RainToday = df.RainToday.astype(int)
df.RainTomorrow = df.RainTomorrow.astype(int)
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Date_month,Date_day
6049,Cobar,17.9,35.2,0.0,12.0,12.3,8,48.0,12,9,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0,1,1
6050,Cobar,18.4,28.9,0.0,14.8,13.0,7,37.0,11,12,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0,1,2
6052,Cobar,19.4,37.6,0.0,10.8,10.6,6,46.0,3,1,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0,1,4
6053,Cobar,21.9,38.4,0.0,11.4,12.2,2,31.0,4,6,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0,1,5
6054,Cobar,24.2,41.0,0.0,11.2,8.4,2,35.0,2,3,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0,1,6

In [129]:
x = df.drop(["RainTomorrow"], axis=1)
y = df["RainTomorrow"]

In [130]:
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(x)

In [131]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [132]:
X_train.shape

(116368, 23)

In [159]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(8, activation='relu', input_shape=x_train.shape[1:]))
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dense(32, activation='relu'))
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dense(128, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

In [160]:
model.compile(loss=tf.keras.losses.MeanSquaredError(), optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),metrics=tf.keras.metrics.MAE)
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 192

 dense_4 (Dense)             (None, 16)                144

 dense_5 (Dense)             (None, 32)                544

 dense_6 (Dense)             (None, 64)                2112

 dense_7 (Dense)             (None, 128)               8320

 dense_8 (Dense)             (None, 1)                 129

=================================================================
Total params: 11441 (44.69 KB)
Trainable params: 11441 (44.69 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [161]:
model.fit(x_train, y_train, epochs=5, batch_size=128,validation_data=(x_test, y_test))

Epoch 1/5
353/353 [==============================] - 2s 2ms/step - loss: 0.1321 - mean_absolute_error: 0.2627 - val_loss: 0.1085 - val_mean_absolute_error: 0.2097
Epoch 2/5
353/353 [==============================] - 1s 2ms/step - loss: 0.1088 - mean_absolute_error: 0.2181 - val_loss: 0.1039 - val_mean_absolute_error: 0.2093
Epoch 3/5
353/353 [==============================] - 1s 2ms/step - loss: 0.1063 - mean_absolute_error: 0.2121 - val_loss: 0.1021 - val_mean_absolute_error: 0.1988
Epoch 4/5
353/353 [==============================] - 1s 2ms/step - loss: 0.1052 - mean_absolute_error: 0.2096 - val_loss: 0.1012 - val_mean_absolute_error: 0.2065
Epoch 5/5
353/353 [==============================] - 1s 2ms/step - loss: 0.1045 - mean_absolute_error: 0.2086 - val_loss: 0.1005 - val_mean_absolute_error: 0.2090

In [162]:
y_test[:5]

103197    0
33303     0
136838    1
80964     0
34347     0
Name: RainTomorrow, dtype: int32

In [163]:
import numpy as np
y_pred = model.predict(x_test)
y_pred = [np.argmax(i) for i in y_pred]
y_pred[:5]

353/353 [==============================] - 0s 1ms/step

[0, 0, 0, 0, 0]

In [164]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7846508330379298

In [165]:
model.save('model.h5')

C:\Users\meetd\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(